<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBucguBZ0dL5Ck8oGELnS7D9T3UvzeZtY0</string>
	<key>GCM_SENDER_ID</key>
	<string>777891362757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.pill-master</string>
	<key>PROJECT_ID</key>
	<string>pillmaster-9e7a7</string>
	<key>STORAGE_BUCKET</key>
	<string>pillmaster-9e7a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777891362757:ios:ca5167747c4bed74a6bdac</string>
	<key>DATABASE_URL</key>
	<string>https://pillmaster-9e7a7-default-rtdb.firebaseio.com</string>
</dict>
</plist>